.contentGrid {
    display: grid;
    grid-template-columns: 60% 40%;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.player > iframe {
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
}

.videoDetails {
    width: 90%;
    border-radius: 20px;
    background-color: rgba(64, 64, 64, 0.455);
}